<% if flash[:notice] %>
<p id="notice">
	<%= flash[:notice] %>
</p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<tr>
	<td><%= link_to "Edit",edit_book_path(@book.id) %></td>
	<td><%= link_to "Back",books_path %></td>
</tr>